.ferry-container{
    position: relative;
    height: 100%;
    width: 100%;
    border: solid;
}


.ferry{
    height: 80%;
    top: 10%;
    width: 80%;
    left: 10%;
    position: absolute;
}
.barre-access{
    position: absolute;
    height: 45%;
    width: 1%;
    background-color: black;
    transform-origin: bottom;
    transition: 2s;
}
.left{
    top: 44%;
    left: 22%;
    transform: rotate(-45deg);
}
.right{
    top: 44%;
    right: 16%;
    transform: rotate(30deg);
}