.map{
    width: 100%;
    height: 10%;
    border: solid;
}
.container{
    display: flex;
    width: 100%;
    height: 90%;
    border: solid;
}
.information{
    width: 25%;
    height: 100%;
    border: solid;
}
.middle{
    width: 50%;
    height: 100%;
    border: solid;
}
.action{
    width: 25%;
    height: 100%;
    border: solid;
}